<div class="container">
    <h1 class="heading">Shopping Cart</h1>

    <ng-container *ngIf="cart$ | async as cart">
        <h4>You have 
            <span class="count">{{ cart.totalItemsCount }}</span> 
        items in your shopping cart.</h4>
    
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cart.items">
                    <td> {{ item.product.title }} </td>
                    <td>
                        <product-quantity [product]="item" [shopping-cart]="cart">
                        </product-quantity>
                    </td>
                    <td>Rs. {{ item.totalPrice }} </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Rs. {{ cart.totalPrice }} </th>
                </tr>
            </tfoot>
        </table>

    </ng-container>

</div>