/* fadeInUp */

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translate3d(0, 50%, 0)
  }

  to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translate3d(0, 50%, 0)
  }

  to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
  }
}

.delay-4s {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both
}
.delay-6s {
  animation-duration: 0.6s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-fill-mode: both
}
.delay-8s {
  animation-duration: 0.8s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-fill-mode: both
}
.delay1s {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}
.delay1-2s {
  animation-duration: 1.2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-fill-mode: both
}
.delay1-4s {
  animation-duration: 1.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.4s;
  -webkit-animation-fill-mode: both
}
.delay1-6s {
  animation-duration: 1.6s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.6s;
  -webkit-animation-fill-mode: both
}
.delay1-8s {
  animation-duration: 1.8s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.8s;
  -webkit-animation-fill-mode: both
}
.delay2s {
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both
}
.delay2-2s {
  animation-duration: 2.2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2.2s;
  -webkit-animation-fill-mode: both
}
.delay2-4s {
  animation-duration: 2.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2.4s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* Gradient Animation */

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}