<section id="team">
    <div class="container team">
        <div class="card-wrapper row">
      
            <div class="card">
                <img src="assets/team-img/img1.jpg" alt="profile img" class="profile-img">
                <h3>Vishnu</h3>
                <p class="job-title">CEO</p>
                <p class="about">
                    Cras ut urna quis nisi luctus molestie tincidunt sed ipsum. Donec gravida laoreet erat.
                </p>
                <!-- <a href="" class="btn">Contact</a> -->
                <ul class="social-media">
                    <a href=""><i class="fa fa-facebook-square"></i></a>
                    <a href=""><i class="fa fa-twitter-square"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-whatsapp"></i></a>
                </ul>
            </div>
      
            <div class="card second">
                <img src="assets/team-img/img2.jpg" alt="profile img" class="profile-img">
                <h3>Anand</h3>
                <p class="job-title">Full Stack Developer</p>
                <p class="about">
                    Cras ut urna quis nisi luctus molestie tincidunt sed ipsum. Donec gravida laoreet erat.
                </p>
                               
                <ul class="social-media">
                    <a href=""><i class="fa fa-facebook-square"></i></a>
                    <a href=""><i class="fa fa-twitter-square"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-whatsapp"></i></a>
                </ul>
            </div>
      
            <div class="card third">
                <img src="assets/team-img/img3.jpg" alt="profile img" class="profile-img">
                <h3>Sumesh</h3>
                <p class="job-title">Back End Developer</p>
                 <p class="about">
                    Cras ut urna quis nisi luctus molestie tincidunt sed ipsum. Donec gravida laoreet erat.
                </p>
                <!-- <a href="" class="btn">Contact</a> -->
                <ul class="social-media">
                    <a href=""><i class="fa fa-facebook-square"></i></a>
                    <a href=""><i class="fa fa-twitter-square"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-whatsapp"></i></a>
                </ul>
            </div>
      
        </div>
    </div>
    </section>