<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        p.disabled{
            color: rgb(121, 119, 119);
        }
    </style>
    <title>Error 404 - Not Found</title>
</head>
<body>
    <h2> Project Cart </h2>
    <b>404.</b><p class="disabled"> Thats an Error. </p><br><br>
    <p>The requested URL was not found this server.</p>
    <p class="disabled">That's all we know.</p>
</body>
</html>

