<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Admin Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Project Cart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects">Projects</a>
            </li>
        </ul>
        </div>
    </nav>
    <div class="container-md-fluid">
        <div class="row">
            <div class="col-lg">
                <div class="container-lg-fluid">
                    <table class="table table-striped">
                        <tr>
                            <td>
                                user 1
                            </td>
                            <td> <a href="#"> approve </a></td>
                            <td> <a href="#"> reject </a></td>
                        </tr>
                        
                        <tr>
                            <td>
                                user 2
                            </td>
                            <td> <a href="#"> approve </a></td>
                            <td> <a href="#"> reject </a></td>
                        </tr>
                        <tr>
                            <td>
                                user 3
                            </td>
                            <td> <a href="#"> approve </a></td>
                            <td> <a href="#"> reject </a></td>
                        </tr>
                        <tr>
                            <td>
                                user 4
                            </td>
                            <td> <a href="#"> approve </a></td>
                            <td> <a href="#"> reject </a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-3">
                <p>
                    <a class="btn" data-toggle="collapse" href="#users" role="button" aria-expanded="false" aria-controls="collapseExample">
                      Users
                    </a>
                  </p>
                  <div class="collapse" id="users">
                    <p>
                        <ul class="list-group list-group-flush">
                            <a href="#" class="list-group-item list-group-item-action">Users</a>
                            <a href="#" class="list-group-item list-group-item-action">Sellers</a>
                            <a href="#" class="list-group-item list-group-item-action">Contributors</a>
                            <a href="#" class="list-group-item list-group-item-action">New Sellers Requests</a>
                            <a href="#" class="list-group-item list-group-item-action">New Contributor Requests</a>
                            <a href="#" class="list-group-item list-group-item-action">Reports and Abuse</a>
                            </div>
                        </ul>
                    </p>
                <p>
                    <a class="btn" data-toggle="collapse" href="#projects" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Projects
                      </a>
                </p>
                <div class="collapse" id="projects" >
                    <ul class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action">Projects</a>
                        <a href="#" class="list-group-item list-group-item-action">New Projects</a>
                        <a href="#" class="list-group-item list-group-item-action">Contributions</a>
                        <a href="#" class="list-group-item list-group-item-action">Project Bug Reports</a>
                    </ul>
                </div>
                <p>
                    <a class="btn" data-toggle="collapse" href="#others" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Others
                      </a>
                </p>
                <div class="collapse" id="others">
                    
                </div>
                </div>
                
             </div>
              </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>