<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Admin Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Project Cart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects">Projects</a>
            </li>
        </ul>
        </div>
    </nav>
    <div class="container-md-fluid">
        <div class="row" id="mainPanel">
            <div class="col-lg accordion collapse show users" id="userPanel" data-parent="#mainPanel">
                <div class="collapse show" id="userstab" data-parent="#userPanel">
                <div class="container-lg-fluid">
                    <table class="table table-striped">
                        <tr>
                            <td>
                                user 1
                            </td>
                            <td> <a href="#"> approve </a></td>
                            <td> <a href="#"> reject </a></td>
                        </tr>
                        
                        <tr>
                            <td>
                                user 2
                            </td>
                            <td> <a href="#"> approve </a></td>
                            <td> <a href="#"> reject </a></td>
                        </tr>
                        <tr>
                            <td>
                                user 3
                            </td>
                            <td> <a href="#"> approve </a></td>
                            <td> <a href="#"> reject </a></td>
                        </tr>
                        <tr>
                            <td>
                                user 4
                            </td>
                            <td> <a href="#"> approve </a></td>
                            <td> <a href="#"> reject </a></td>
                        </tr>
                    </table>
                </div>
                </div>
                <div class="collapse" id="sellerstab" data-parent="#userPanel">
                    <div class="container-lg-fluid">
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    Seller 1
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            
                            <tr>
                                <td>
                                    Seller 2
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            <tr>
                                <td>
                                    Seller 3
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            <tr>
                                <td>
                                    Seller 4
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
                <div class="collapse" id="contributorstab" data-parent="#userPanel">
                    <div class="container-lg-fluid">
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    Contributor 1
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            
                            <tr>
                                <td>
                                    Contributor 2
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            <tr>
                                <td>
                                    Contributor 3
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            <tr>
                                <td>
                                    Contributor 4
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
                <div class="collapse" id="newSellers" data-parent="#userPanel">
                    <div class="container-lg-fluid">
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    New Seller 1
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            
                            <tr>
                                <td>
                                    New Seller 2
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            <tr>
                                <td>
                                    New Seller 3
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            <tr>
                                <td>
                                    New Seller 4
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
                <div class="collapse" id="newContributors" data-parent="#userPanel">
                    <div class="container-lg-fluid">
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    New Contributor 1
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            
                            <tr>
                                <td>
                                    New Contributor 2
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            <tr>
                                <td>
                                    New Contributor 3
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            <tr>
                                <td>
                                    New Contributor 4
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
                <div class="collapse" id="reportstab" data-parent="#userPanel">
                    <div class="container-lg-fluid">
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    Report 1
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            
                            <tr>
                                <td>
                                    Report 2
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            <tr>
                                <td>
                                    Report 3
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            <tr>
                                <td>
                                    Report 4
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg accordion collapse projects" id="projectsPanel" data-parent="#mainPanel">
                <div class="collapse show" id="userstab" data-parent="#userPanel">
                <div class="container-lg-fluid">
                    <table class="table table-striped">
                        <tr>
                            <td>
                                user 1
                            </td>
                            <td> <a href="#"> approve </a></td>
                            <td> <a href="#"> reject </a></td>
                        </tr>
                        
                        <tr>
                            <td>
                                user 2
                            </td>
                            <td> <a href="#"> approve </a></td>
                            <td> <a href="#"> reject </a></td>
                        </tr>
                        <tr>
                            <td>
                                user 3
                            </td>
                            <td> <a href="#"> approve </a></td>
                            <td> <a href="#"> reject </a></td>
                        </tr>
                        <tr>
                            <td>
                                user 4
                            </td>
                            <td> <a href="#"> approve </a></td>
                            <td> <a href="#"> reject </a></td>
                        </tr>
                    </table>
                </div>
                </div>
                <div class="collapse" id="sellerstab" data-parent="#userPanel">
                    <div class="container-lg-fluid">
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    Seller 1
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            
                            <tr>
                                <td>
                                    Seller 2
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            <tr>
                                <td>
                                    Seller 3
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            <tr>
                                <td>
                                    Seller 4
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
                <div class="collapse" id="contributorstab" data-parent="#userPanel">
                    <div class="container-lg-fluid">
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    Contributor 1
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            
                            <tr>
                                <td>
                                    Contributor 2
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            <tr>
                                <td>
                                    Contributor 3
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            <tr>
                                <td>
                                    Contributor 4
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
                <div class="collapse" id="newSellers" data-parent="#userPanel">
                    <div class="container-lg-fluid">
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    New Seller 1
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            
                            <tr>
                                <td>
                                    New Seller 2
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            <tr>
                                <td>
                                    New Seller 3
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            <tr>
                                <td>
                                    New Seller 4
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
                <div class="collapse" id="newContributors" data-parent="#userPanel">
                    <div class="container-lg-fluid">
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    New Contributor 1
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            
                            <tr>
                                <td>
                                    New Contributor 2
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            <tr>
                                <td>
                                    New Contributor 3
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            <tr>
                                <td>
                                    New Contributor 4
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
                <div class="collapse" id="reportstab" data-parent="#userPanel">
                    <div class="container-lg-fluid">
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    Report 1
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            
                            <tr>
                                <td>
                                    Report 2
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            <tr>
                                <td>
                                    Report 3
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                            <tr>
                                <td>
                                    Report 4
                                </td>
                                <td> <a href="#"> approve </a></td>
                                <td> <a href="#"> reject </a></td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg accordion collapse others" id="othersPanel" data-parent="#mainPanel">
                
            </div>

            <div class="col-3 accordion" id="sidepanel">
                <p>
                    <a class="btn" id="userbtn" data-toggle="collapse" href="#users" role="button" aria-expanded="true" aria-controls="collapseExample" data-target=".users">
                      Users
                    </a>
                  </p>
                  <div class="collapse show users" id="users" data-parent="#sidepanel">
                    <p>
                        <ul class="list-group list-group-flush">
                            <a href="#userstab" class="btn text-left" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="userstab" data-target="#userstab">Users</a>
                            <a href="#sellerstab" class="btn text-left collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sellerstab" data-target="#sellerstab">Sellers</a>
                            <a href="#contributorstab" class="btn text-left collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="contributorstab" data-target="#contributorstab">Contributors</a>
                            <a href="#newSellers" class="btn text-left collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="newSellers" data-target="#newSellers">New Sellers Requests</a>
                            <a href="#newContributors" class="btn text-left collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="newContributors" data-target="#newContributors">New Contributor Requests</a>
                            <a href="#reportstab" class="btn text-left collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="reportstab" data-target="#reportstab">Reports and Abuse</a>
                            </div>
                        </ul>
                    </p>
                <p>
                    <a class="btn collapsed" data-toggle="collapse" href="#projects" role="button" aria-expanded="false" aria-controls="collapseExample" data-target=".projects">
                        Projects
                      </a>
                </p>
                <div class="collapse projects" id="projects" data-parent="#sidepanel">
                    <ul class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action">Projects</a>
                        <a href="#" class="list-group-item list-group-item-action">New Projects</a>
                        <a href="#" class="list-group-item list-group-item-action">Contributions</a>
                        <a href="#" class="list-group-item list-group-item-action">Project Bug Reports</a>
                    </ul>
                </div>
                <p>
                    <a class="btn collapsed" data-toggle="collapse" href="#others" role="button" aria-expanded="false" aria-controls="collapseExample" data-target=".others">
                        Others
                      </a>
                </p>
                <div class="collapse others" id="others" data-parent="#sidepanel">
                    
                </div>
                </div>
                
             </div>
              </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>