{% extends "base.html" %}   
{% block title %}
Project Cart
{% endblock %}
{% block body %}
      <div class="container-fluid">
      <div class="row">
          <div class="col-lg table-responsive-md"><table class="table">
              <tr>
                  <td><div class="card" style="width: 18rem;">
                    <!--img src="..." class="card-img-top" alt="..."-->
                    <div class="card-body">
                      <h5 class="card-title">Project 1</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div></td>
                  <td><div class="card" style="width: 18rem;">
                    <!--img src="..." class="card-img-top" alt="..."-->
                    <div class="card-body">
                      <h5 class="card-title">Project 2</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div></td>
                  <td><div class="card" style="width: 18rem;">
                    <!--img src="..." class="card-img-top" alt="..."-->
                    <div class="card-body">
                      <h5 class="card-title">Project 3</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div></td>
              </tr>
              <tr>
                <td><div class="card" style="width: 18rem;">
                    <!--img src="..." class="card-img-top" alt="..."-->
                    <div class="card-body">
                      <h5 class="card-title">Project 4</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div></td>
                  <td><div class="card" style="width: 18rem;">
                    <!--img src="..." class="card-img-top" alt="..."-->
                    <div class="card-body">
                      <h5 class="card-title">Project 5</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div></td>
                  <td><div class="card" style="width: 18rem;">
                    <!--img src="..." class="card-img-top" alt="..."-->
                    <div class="card-body">
                      <h5 class="card-title">Project 6</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div></td>
               </tr>
          </table></div>
          <div class="col-sm">
            <div class="card text-center">
                <div class="card-header">
                  Featured
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special Offers</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                  2 days ago
                </div>
              </div>
          </div>
          </div>

      </div>
 {% endblock %}