{% extends "base.html" %}

{% block head %}
<title> Project Cart </title>
{% endblock %}

{% block body %}
<div class="container">
    <div>
        <form action="register" method="POST" class="form">
          <label class="form-label">First Name : </label> <input class="form-input" type="text" name="firstname" required><br>
          <label class="form-label">Last Name: </label><input class="form-input" type="text" name="lastname" required><br>
          <label class="form-label">Email: </label> <input class="form-input" type="email" name="email" required><br>
            <label class="form-label">Phone: </label><select name="country">
            <option value="IN">IN(+91)</option>
        </select> <input class="form-input" type="text" name="phone" required><br>
             <label class="form-label">Password : </label> <input class="form-input" type="password" name="password" required><br>
            <label class="form-label">Confirm Password: </label><input class="form-input" type="password" name="confirmpassword" required><br>
          <input type="submit" value="Register">
         </form>
    </div>
</div>
{% endblock %}
