{% extends "base.html" %}

{% block head %}
<title> Project Cart </title>
{% endblock %}

{% block body %}
<div class="container">
    <div>
        <form action="register" method="POST" class="form">
          <label class="form-label">Password : </label> <input class="form-input" type="password" name="password" required><br>
          <label class="form-label">Confirm Password: </label><input class="form-input" type="password" name="confirmpassword" required><br>
          <input type="submit" value="Register">
         </form>
    </div>
</div>
{% endblock %}
